<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Additional test files</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <a (click)="getErrors()"><i class="fas fa-arrow-circle-down"></i> Test errors</a>
  </div>

  <div class="modal-footer">
  </div>

</ng-template>

<button class="edit btn btn-sm btn-primary" (click)="open(content)" *ngIf="attachements.length > 0"><i class="fas fa-paperclip"></i> Files</button>