<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Project name</span>
        </div>
        <input type="projectName" class="form-control" formControlName="projectName" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-control-feedback" *ngIf="projectName.errors && (projectName.dirty || projectName.touched)">
        <p class="alert alert-danger" *ngIf="projectName.errors.required">Project name is required</p>
        <p class="alert alert-danger" *ngIf="projectName.errors.minlength">Project name must be at least 3 characters
          long</p>
        <p class="alert alert-danger" *ngIf="projectName.errors.maxlength">Max length is 50 characters</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<span>
    <button class="btn btn-link add-btn edit-project" (click)="open(content)"><i class="fas fa-pencil-alt"></i>
    </button>
</span>
