.dashboard {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #f0f1f4;
  padding-top: 90px;
  min-height: 100%;
  width: 100%;;
  position: absolute;
}

.items {
  padding-bottom: 1px;
  background-color: white;
  border-radius: 0.23rem;
}

a {
  color: #1d1e3a
}

.items-count {
  font-size: 12px;
}

.head {
  font-size: 12px;
  color: #888888c7;
  border-top: 0px;
  min-width: 8rem;
}

.recent-runs .card-body {
  padding-top: 0.2rem;
}

.card-header {
  border: none
}

.card {
  border: none;
}

.no-data {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th {
  padding-left: 20px;
}

td {
  padding-left: 20px;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #e8e8e847;
}

.recent-runs .card-body {
  padding: 0px;
}

.recent-runs {
  min-width: 100%;
}

.stats {
  margin-bottom: 20px;
}

.statistic .card-header {
  background-color: #316d94;
  color: white;
}

.statistic .card-body {
  color: #316d94;
}

.unit-desc {
  font-size: 20px;
}