@media (max-width: 1550px) {
  .content-container  {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1350px) {
  .content-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1150px) {
  .content-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}