<app-control-panel>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" id="label-filter" type="search" placeholder="scenario name"
          (keyup)='search($event.target.value)'>
      </div>
    </li>
  </ul>

  <div>
    <app-add-new-scenario [projectName]="projectName"></app-add-new-scenario>
  </div>
</app-control-panel>

<div class="scenarios-overview content-container">
  <div class="container-fluid">
    <div class="row">
    </div>
    <div class="row" *ngIf="filteredScenarios">
      <div class="col-md-3" *ngFor="let _ of filteredScenarios">
        <div class="card card-scenario">
          <h6 class="card-header">
            <a routerLink="/project/{{projectName}}/scenario/{{_.name}}/items">{{_.name}}</a>
          </h6>
          <div class="card-body">
            <div class="chart">
              <app-scenarios-graph [graphData]="_.data"></app-scenarios-graph>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>