.scenarios-overview {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #f0f1f4;
  padding-top: 20px;
  min-height: 100%;
  width: 100%;;
}

.card-header {
  border: none;
}

.create {
  margin-bottom: 30px;
}

#label-filter, #basic-addon1 {
  height: 28px;
}
