thead {
  font-size: 12px;
  color: #888888c7;
  border-top: 0px;
  width: 15rem;
  min-width: 8rem;
}

.table th {
  border-top: 0px;
}

.base-icon {
  color: #0066ffd1;
  font-size: 14px;
}

.ellipsis {
  max-width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}