<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create test item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Scenario Name</span>
        </div>
        <input type="input" class="form-control" formControlName="scenarioName" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-control-feedback" *ngIf="scenarioName.errors && (scenarioName.dirty || scenarioName.touched)">
        <p class="alert alert-danger" *ngIf="scenarioName.errors.required">Scenario name is required</p>
        <p class="alert alert-danger" *ngIf="scenarioName.errors.minlength">Project name must be at least 3 characters
          long</p>
        <p class="alert alert-danger" *ngIf="scenarioName.errors.maxlength">Max length is 50 characters</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<button class="btn btn-sm btn-primary" (click)="open(content)"> <i class="fas fa-plus-circle"></i>
  create new scenario</button>