<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit test item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Note</span>
        </div>
        <input type="testName" class="form-control" formControlName="note" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Environment</span>
        </div>
        <input type="testName" class="form-control" formControlName="environment" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div>
            <input type="checkbox" id="base-check" [attr.disabled]="disabled ? '' : null" formControlName="base" [(ngModel)]="isBase"
            data-md-icheck />
          <label id="base-desc" class="form-check-label" for="base-check">Set as base run</label>
        </div>
      </div>
      <div class="form-control-feedback" *ngIf="environment.errors && (environment.dirty || environment.touched)">
        <p class="alert alert-danger" *ngIf="environment.errors.required">Environment is required</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<button class="edit btn btn-sm btn-primary" (click)="open(content)"><i class="fas fa-pencil-alt"></i> edit</button>