<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit scenario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Scenario name</span>
          </div>
          <input type="input" class="form-control" formControlName="scenarioName" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  
  </ng-template>
  
  <button class="edit btn btn-sm btn-primary" (click)="open(content)"><i class="fas fa-pencil-alt"></i> edit</button>
